#tarjetas{
  margin: 100px;
  padding: 100px;
  margin-top: 50px;
  padding-top: .90rem;
  padding-bottom: .90rem;
  background-color: rgba(75, 94, 123, 0.7);
  border: 2px solid rgba(39,41,43,0.3);
  border-radius: 1%;

}

.card-body{
  background-color: #181a1b;
  color: white;
}
.card{
  background-color: #181a1b;
}

.container {
  margin: auto;
  padding: 0px; /* Elimina el relleno interior del contenedor */
}

a p{
  text-decoration: none;
  color: black;
}
