<div class="landing-container">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4" id="tarjetas">

      <div class="col">
        <div class="card">
          <img src="assets/img/web.jpg" class="card-img-top" (click)="navegar('filtro')"  alt="">
          <div class="card-body">
            <h4 class="card-title">Desarrollo web</h4>
            <p class="card-text">Aqui puedes encontrar distintos profesionales y empresas que buscan trabajadores para trabajar en el desarrollo web</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/img/datos.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h4 class="card-title">Analisis de datos</h4>
            <p class="card-text">Aqui puedes encontrar distintos profesionales y empresas que buscan trabajadores para trabajar en analisis de datos</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/img/seguridad.jpeg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h4 class="card-title">Ciberseguridad</h4>
            <p class="card-text">Aqui puedes encontrar distintos profesionales y empresas que buscan trabajadores para trabajar en ciberseguridad</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/img/moviles.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h4 class="card-title">Desarrollo de Aplicaciones Móviles</h4>
            <p class="card-text">Aqui puedes encontrar distintos profesionales y empresas que buscan trabajadores para desarrollo de aplicaciones móviles </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


