<div class="background">
    <div class="contenedor">
        <div class="child"></div>
        <div class="child header">
        
        </div>
        <div class="child siderbar cuadro">
            <mat-card class="card1">
                <div class="child">
                    <img mat-card-avatar class="fotoPerfil" src="assets/img/20230920_161818.jpg">
                    
                </div>
                <div class="child">
                    <mat-card-title class="nombre">Ignacio Bravo</mat-card-title>
                    <mat-card-content class="estudiante">Estudiante</mat-card-content>
                    <br>
                    <mat-card-content>DATOS PERSONALES:</mat-card-content>
                    <mat-card-content>-Dirección:</mat-card-content>
                    <mat-card-content>-Telefono:</mat-card-content>
                    <mat-card-content>-Correo electronico:</mat-card-content>
                    <br>
                    <mat-card-content>HABILIDADES:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>
                    <br>
                    <mat-card-content>CONOCIMIENTOS:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>
                    <mat-card-content>-Datos:</mat-card-content>  
                </div>
            </mat-card>
            
        </div>
        <div class="cardRec child cuadro">
            <mat-card class="card1">
                <div class="child">
                    <mat-card-title class="titulocard">Perfil personal</mat-card-title>
                    <mat-card-content class="descripcion">Estudiante de 6º semestre de la carrera de Ingeniería en informática que busca fortalecer sus conocimientos en el área, me considero una persona con mucha motivación para estudiar nuevas tecnologías mas si se treta del área de ciberseguridad.</mat-card-content>
                </div>
            </mat-card>
            <mat-card class="card1">
                <div class="child">
                    <mat-card-title class="titulocard">Formación academica</mat-card-title>
                    <mat-card-content><li><h5>ANALISTA PROGRAMADOR</h5></li></mat-card-content>
                    <mat-card-content class="descripcion">Instituto profesional INACAP sede Puente alto
                        (2021- 2022)</mat-card-content>
                    <mat-card-content><li><h5>INGENIERÍA EN INFORMÁTICA
                        (ESTUDIANTE)</h5></li></mat-card-content>
                    <mat-card-content class="descripcion" >Instituto profesional INACAP sede Puente alto
                        (2023- actualidad)</mat-card-content>
                </div>
            </mat-card>
            <mat-card class="card1">
                <div class="child">
                    <mat-card-title class="titulocard">Experiencia laboral</mat-card-title>
                    <mat-card-content><li><h5>Ayudante de armado en pyme de tinajas y
                        saunas (informal).</h5></li></mat-card-content>
                    <mat-card-content><li><h5>Soporte y armado computacional.</h5></li></mat-card-content>
                </div>
            </mat-card>
        </div>
                  
    </div>
  </div>
