<div class="landing-container">
    <div class="contenedor">
        <div class="child"></div>
        <div class="child header">

        </div>
        <div class="child siderbar cuadro">
          <div class="filtro-container">
            <div class="search-box">
              <i class="fas fa-search search-icon"></i>
              <input
                type="text"
                [(ngModel)]="searchTerm"
                placeholder="Buscar empleos: Machine Learning, Software Architect, Java..."
                (keyup.enter)="realizarBusqueda()"
              >
            </div>

            <!-- Aquí puedes agregar más filtros o resultados -->
            <div class="resultados-busqueda" *ngIf="searchTerm">
              <h3>Resultados para: "{{searchTerm}}"</h3>
              <!-- Lista de resultados -->
            </div>
          </div>
            <mat-expansion-panel class="panel" (opened)="filtroPanelOpenState = true" (closed)="filtroPanelOpenState = false">
                <mat-expansion-panel-header [ngClass]="{'active-filter-bg': regionList.selectedOptions.selected.length > 0}">
                    <mat-panel-title [ngClass]="{'active-filter-text': regionList.selectedOptions.selected.length > 0}">
                        <span>Región</span>
                        <span *ngIf="regionList.selectedOptions.selected.length > 0">:</span>
                    </mat-panel-title>
                    <mat-panel-description [ngClass]="{'active-filter-text': regionList.selectedOptions.selected.length > 0}"
                        *ngIf="regionList.selectedOptions.selected.length > 0">
                        <span class="text-truncate">
                            {{ regionList.selectedOptions.selected[0]?.value }}
                            <span *ngIf="regionList.selectedOptions.selected.length > 1">,</span>
                            {{ regionList.selectedOptions.selected[1]?.value }}
                        </span>
                        <span *ngIf="regionList.selectedOptions.selected.length > 2">
                            +{{regionList.selectedOptions.selected.length - 2}}
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-selection-list #regionList>
                    <mat-list-option *ngFor="let regions of region" [value]="regions"> {{regions}} </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel" (opened)="filtroPanelOpenState = true" (closed)="filtroPanelOpenState = false">
                <mat-expansion-panel-header [ngClass]="{'active-filter-bg': experienciaList.selectedOptions.selected.length > 0}">
                    <mat-panel-title [ngClass]="{'active-filter-text': experienciaList.selectedOptions.selected.length > 0}">
                        <span>Años de experiencia</span>
                        <span *ngIf="experienciaList.selectedOptions.selected.length > 0">:</span>
                    </mat-panel-title>
                    <mat-panel-description [ngClass]="{'active-filter-text': experienciaList.selectedOptions.selected.length > 0}"
                        *ngIf="experienciaList.selectedOptions.selected.length > 0">
                        <span class="text-truncate">
                            {{ experienciaList.selectedOptions.selected[0]?. value }}
                            <span *ngIf="experienciaList.selectedOptions.selected.length > 1">,</span>
                            {{ experienciaList.selectedOptions.selected[1]?.value }}
                        </span>
                        <span *ngIf="experienciaList.selectedOptions.selected.length > 2">
                            +{{experienciaList.selectedOptions.selected.length - 2}}
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-selection-list #experienciaList>
                    <mat-list-option *ngFor="let experiencias of experiencia" [value]="experiencias"> {{experiencias}} </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel" (opened)="filtroPanelOpenState = true" (closed)="filtroPanelOpenState = false">
                <mat-expansion-panel-header [ngClass]="{'active-filter-bg': disponibilidadList.selectedOptions.selected.length > 0}">
                    <mat-panel-title [ngClass]="{'active-filter-text': disponibilidadList.selectedOptions.selected.length > 0}">
                        <span>Disponibilidad</span>
                        <span *ngIf="disponibilidadList.selectedOptions.selected.length > 0">:</span>
                    </mat-panel-title>
                    <mat-panel-description [ngClass]="{'active-filter-text': disponibilidadList.selectedOptions.selected.length > 0}"
                        *ngIf="disponibilidadList.selectedOptions.selected.length > 0">
                        <span class="text-truncate">
                            {{ disponibilidadList.selectedOptions.selected[0]?.value }}
                            <span *ngIf="disponibilidadList.selectedOptions.selected.length > 1">,</span>
                            {{ disponibilidadList.selectedOptions.selected[1]?.value }}
                        </span>
                        <span *ngIf="disponibilidadList.selectedOptions.selected.length > 2">
                            +{{disponibilidadList.selectedOptions.selected.length - 2}}
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-selection-list #disponibilidadList>
                    <mat-list-option *ngFor="let disponibilidads of disponibilidad" [value]="disponibilidads"> {{disponibilidads}} </mat-list-option>
                </mat-selection-list>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="budgetPanelOpenState = true" (closed)="budgetPanelOpenState = false">
                <div class="budget-range">
                    <mat-form-field appearance="outline">
                        <mat-label>Mínimo</mat-label>
                        <input type="number" matInput placeholder="0" [(ngModel)]="minAmount">
                        <mat-icon matPrefix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Máximo</mat-label>
                        <input type="number" matInput placeholder="0" [(ngModel)]="maxAmount">
                        <mat-icon matPrefix>attach_money</mat-icon>
                    </mat-form-field>
                </div>
                <mat-expansion-panel-header [ngClass]="{'active-filter-bg': minAmount || maxAmount}">
                    <mat-panel-title [ngClass]="{'active-filter-text': minAmount || maxAmount}">
                        <span> Salario solicitado</span>
                        <span *ngIf="minAmount || maxAmount">:&nbsp;</span>
                        <span *ngIf="minAmount">{{minAmount}}$</span>
                        <span *ngIf="minAmount">&nbsp;-&nbsp;</span>
                        <span *ngIf="maxAmount">{{maxAmount}}$</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

        </div>
        <div class="cardRec child cuadro">
            <mat-card class="card1 parent">
                <div class="child">
                    <img mat-card-avatar class="fotoPerfil" src="assets/img/20230920_161818.jpg">

                </div>
                <div class="child">
                    <mat-card-title class="nombre">Ignacio Bravo</mat-card-title>
                    <mat-card-content>Años de experiencia: 1 año</mat-card-content>
                    <mat-card-content>Habilidades: Hacking etico</mat-card-content>
                    <mat-card-content>Ubicación: Santiago</mat-card-content>
                </div>
            </mat-card>
            <mat-card class="card1 parent">
                <div class="child">
                    <img mat-card-avatar class="fotoPerfil" src="assets/img/20230920_161818.jpg">

                </div>
                <div class="child">
                    <mat-card-title class="nombre">Ignacio Bravo</mat-card-title>
                    <mat-card-content>Años de experiencia: 1 año</mat-card-content>
                    <mat-card-content>Habilidades: Hacking etico</mat-card-content>
                    <mat-card-content>Ubicación: Santiago</mat-card-content>
                </div>
            </mat-card>
            <mat-card class="card1 parent">
                <div class="child">
                    <img mat-card-avatar class="fotoPerfil" src="assets/img/20230920_161818.jpg">

                </div>
                <div class="child">
                    <mat-card-title class="nombre">Ignacio Bravo</mat-card-title>
                    <mat-card-content>Años de experiencia: 1 año</mat-card-content>
                    <mat-card-content>Habilidades: Hacking etico</mat-card-content>
                    <mat-card-content>Ubicación: Santiago</mat-card-content>
                </div>
            </mat-card>
            <mat-card class="card1 parent">
                <div class="child">
                    <img mat-card-avatar class="fotoPerfil" src="assets/img/20230920_161818.jpg">

                </div>
                <div class="child">
                    <mat-card-title class="nombre">Ignacio Bravo</mat-card-title>
                    <mat-card-content>Años de experiencia: 1 año</mat-card-content>
                    <mat-card-content>Habilidades: Hacking etico</mat-card-content>
                    <mat-card-content>Ubicación: Santiago</mat-card-content>
                </div>
            </mat-card>
        </div>

    </div>
  </div>
