<div class="landing-container">
      <div class="hero-section">
        <h1>Bienvenido a ConectaTalentoIT</h1>
        <p>La plataforma que une a los mejores profesionales IT con las empresas más innovadoras de América Latina.</p>
        <button (click)="navegar('filtro')"  mat-raised-button color="accent" class="cta-button">Explorar Talento</button>
      </div>

      <div class="search-container">
        <div class="search-box">
          <i class="fas fa-search search-icon"></i>
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Buscar empleos: Machine Learning, Software Architect, Java..."
            (keyup.enter)="buscarEmpleos()"
          >
        </div>
      </div>

      <div  class="features-section">
        <mat-card (click)="navegar('categoria')" class="feature-card">
          <mat-icon>search</mat-icon>
          <h2>Búsqueda Avanzada</h2>
          <p>Encuentra el talento que necesitas con nuestras herramientas inteligentes.</p>
        </mat-card>
        <mat-card (click)="navegar('filtro')" class="feature-card">
          <mat-icon>work</mat-icon>
          <h2>Oportunidades Laborales</h2>
          <p>Descubre las mejores ofertas de trabajo para profesionales IT.</p>
        </mat-card>
        <mat-card class="feature-card">
          <mat-icon>shield</mat-icon>
          <h2>Seguridad y Confianza</h2>
          <p>Tu información está protegida bajo estándares internacionales.</p>
        </mat-card>
      </div>


      <footer class="footer">
        <mat-divider class="mb-4"></mat-divider>
        <p>&copy; 2024 Conecta Talento IT. Todos los derechos reservados.</p>
      </footer>
    </div>


