.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla */
}

form {
  width: 90%; /* Ajustable en pantallas pequeñas */
  max-width: 400px; /* Tamaño máximo */
  background: #24303c;
  padding: 30px;
  border-radius: 8px; /* Más redondeado para mejor estética */
  font-family: 'Calibri', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

#emailHelp{
  color: white;
}

