.nav-inicio {
  color: white;
  background: linear-gradient(to right, #1976d2, #64b5f6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.mobile-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-inicio {
  width: 60px;
  height: 60px;
}

.title-inicio {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Botón tipo hamburguesa */
.menu-icon {
  display: none;
}

/* Contenedor de los botones del menú */
.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Botones de navegación */
.nav-button {
  text-transform: none;
  font-weight: 500;
  color: #fff; /* Texto blanco */
  background: transparent;

  mat-icon {
    vertical-align: middle;
    margin-left: 4px;
  }
}
.registrate-button {
  background: #2196f3;
  color: #fff !important;
  border-radius: 4px;
}
/* Menú desplegable (MatMenu) */
.mat-menu-panel {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .mat-menu-item {
    font-size: 0.95rem;
    color: #333;
    mat-icon {
      margin-right: 8px;
      color: #555;
    }
    &:hover {
      background: #f5f5f5;
    }
  }
}


/* Ajustes responsive */
@media screen and (max-width: 768px) {

  .nav-inicio {
    display: block;
    height: 80px;
  }
  .title-inicio {
    margin-top: 0px;
    position: absolute; // Posicionamiento absoluto
    left: 50%; // Centrar horizontalmente
    transform: translateX(-50%); // Ajuste fino del centrado
    white-space: nowrap; // Evitar saltos de línea
  }

  .logo-inicio {
    margin-top: 0px;
  }

  .mobile-menu {
        height: 60px;
        width: 100%;
        justify-content: space-between;
        position: relative; // Añadido para posicionamiento absoluto del título
      }
  .menu-icon {
    display: block;
    order: 1;
  }

  .logo {
    order: 3; // Mover logo a la derecha
    margin: 0;
    margin-top: 40px;
    width: 60px;
    height: 60px;
  }
  /* Estilos para el menú desplegable en móvil */
  .nav-items {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    /* Fondo consistente con el nav-inicio */
    //background: #217dda;
    background: linear-gradient(to right, #1976d2, #64b5f6);
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1100; /* Asegura que quede sobre el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-items.show-menu {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
  /* Asegurar que los mat-menu aparezcan sobre el menú colapsado */
  .mat-menu-panel {
    position: relative;
    z-index: 1200;
  }

  .nav-items button {
    width: 100%;
    margin-bottom: 8px;
  }
}
