<mat-toolbar class="nav-inicio">
  <div class="mobile-menu">
    <button mat-icon-button (click)="toggleMenu()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo-inicio" src="assets/img/logo.png" (click)="navegar('inicio')" alt="logo" width="50px">
    <span class="title-inicio" (click)="navegar('inicio')">ConectaTalentoIT</span>
  </div>

  <div class="nav-items" [class.show-menu]="menuVisible">
    <!-- Botones visibles solo si NO está logueado -->
    <button mat-raised-button *ngIf="!(loggedIn$ | async)" color="primary" (click)="navegar('login')">Iniciar Sesión</button>
    <button mat-raised-button *ngIf="!(loggedIn$ | async)" (click)="navegar('registro')">Registrarse</button>

    <!-- Botones visibles solo si está logueado -->
    <button mat-raised-button *ngIf="loggedIn$ | async" (click)="navegar('perfil')">Perfil</button>
    <button mat-raised-button *ngIf="loggedIn$ | async" (click)="navegar('crear')">Crear Oferta</button>
    <button mat-raised-button *ngIf="loggedIn$ | async" color="warn" (click)="salir()">Cerrar Sesión</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
