.nav {
  background-color: #4b5e7b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.mobile-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Botón tipo hamburguesa */
.menu-icon {
  display: none;
}

/* Contenedor de los botones del menú */
.nav-items {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.nav-items button {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
        width: 100%;
        justify-content: space-between;
        position: relative; // Añadido para posicionamiento absoluto del título
      }
  .menu-icon {
    display: block;
    order: 1;
  }

  .logo {
    order: 3; // Mover logo a la derecha
    margin: 0;
  }


  .nav-items {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #4b5e7b;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-items.show-menu {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }

  .nav-items button {
    width: 100%;
    margin-bottom: 8px;
  }


  .title {
       font-size: 18px;
       position: absolute; // Posicionamiento absoluto
       left: 50%; // Centrar horizontalmente
       transform: translateX(-50%); // Ajuste fino del centrado
       white-space: nowrap; // Evitar saltos de línea
  }
}
